body {
  font-family: $open-sans;
  background-color: #EBE6D7;
  color: $main-text-color;
}

a {
  color: $links;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

abbr[title] {
  border-bottom: none;
}
