form {
  @extend %clearfix;
}

form label {
  display: block;
  font-size: em(14);
}

form .input {
  float: left;
}

input[type="text"],
input[type="url"],
input[type="email"] {
  font-size: em(16);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #E7E7E5;
}

