.container {
  margin: 0 auto;
  width: 960px;
}

.content-box {
  @extend %clearfix;
  position: relative;
  background-color: #FFF;
  box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.75);
  padding: 20px;
  margin-bottom: 20px;
}

.page-content-title {
  font-weight: 300;
  border-bottom: 1px dotted $main-text-color;
  @extend %reset-space;
}

.page-content-header {
  position: relative;
  margin-bottom: 20px;
}

.page-content-header-info {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  float: right;
  font-weight: 300;
  font-size: em(12);

  p {
    margin: 0;
    margin-bottom: 4px;
  }
}

#disclaimer {
  background-color: #fdffea;
}

#disclaimer-wrapper {
  padding: 5px 0;
  width: 940px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  color: #ecba09;
}

.page-footer {
  font-size: em(12);
  margin-bottom: 60px;
  text-align: center;

  a, a:hover {
    text-decoration: underline;
  }

  p {
    margin: 0;
  }

  .meet-us {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    font-family: "Marker Felt", sans-serif;
  }
}

.kraken-loader {
  @include animation(bounce 0.5s infinite);
}

/* Webkit, Chrome and Safari */

@include keyframes(bounce) {
  0% {
    -webkit-transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(0.01turn);
  }
  10% {
    -webkit-transform: rotate(0.02turn);
  }
  15% {
    -webkit-transform: rotate(0.03turn);
  }
  20% {
    -webkit-transform: rotate(0.04turn);
  }
  25% {
    -webkit-transform: rotate(0.05turn);
  }
  30% {
    -webkit-transform: rotate(0.04turn);
  }
  35% {
    -webkit-transform: rotate(0.03turn);
  }
  40% {
    -webkit-transform: rotate(0.02turn);
  }
  45% {
    -webkit-transform: rotate(0.01turn);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  55% {
    -webkit-transform: rotate(-0.01turn);
  }
  60% {
    -webkit-transform: rotate(-0.02turn);
  }
  65% {
    -webkit-transform: rotate(-0.03turn);
  }
  70% {
    -webkit-transform: rotate(-0.04turn);
  }
  75% {
    -webkit-transform: rotate(-0.05turn);
  }
  80% {
    -webkit-transform: rotate(-0.04turn);
  }
  85% {
    -webkit-transform: rotate(-0.03turn);
  }
  90% {
    -webkit-transform: rotate(-0.02turn);
  }
  95% {
    -webkit-transform: rotate(-0.01turn);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
