.suggested-repos-list {
  @extend %clearfix;

  list-style: none;
  padding: 0;
}

.suggested-repo {
  float: left;
  padding: 5px;
  margin: 5px;
  background: #d4d4d4;
  cursor: pointer;

  &.selected {
    background-color: #59A80F;
    color: #fff;
  }
}

.revoke-repository {
  color: #900;
}
