.projects-list {
  @extend %reset-space;
  @extend %clearfix;
}

.project-details {
  height: em(30);
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: em(14);
  line-height: em(30);
}

.project-approval-criteria {
  position: relative;
  float: left;

  img {
    position: relative;
    top: 3px;
  }
}
