.header-navigation {
  float: left;
  margin-left: 50px;
}

.header-navigation ul {
  @extend %reset-space;
}

.header-navigation li {
  float: left;
  list-style: none;
}

.header-navigation a {
  display: block;
  padding: 14px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;

  &:hover {
    background-color: #38322C;
  }
}
