.project-box {
  position: relative;
  list-style: none;
  width: 220px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.75);
}

.project-box-title {
  @extend %reset-space;

  a {
    font-size: 20px;
    font-weight: 300;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border-bottom: 1px dotted #E7E7E5;
  }
}

.repositories-list {
  @extend %reset-space;
  font-size: em(12);
}

.repositories-list li {
  padding: 6px 10px;
  list-style: none;
}

.repositories-list li a:hover {
  text-decoration: underline;
}

.no-repositories-associated {
  @extend %reset-space;
  padding: 10px;
  font-style: italic;
  text-align: center;
  font-size: em(12);
  color: #ccc;
}

.project-box-settings-button {
  @extend %image-replacement;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px;
  width: 16px;
  height: 16px;
  background: image-url('cog.png') no-repeat center center;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.project-box-settings-menu {
  @extend %reset-space;
  width: 150px;
  display: none;
  position: absolute;
  top: 20px;
  right: -1px;
  background-color: #FFF;
  z-index: 1;
  border: 1px solid #DDD;
}

.project-box-settings-menu li {
  list-style: none;

  a {
    padding: 4px 0 4px 22px;
    display: block;
    font-size: em(12);
    border-bottom: 1px solid #DDD;
    color: $main-text-color;

    &:hover {
      text-decoration: none;
      background-color: #EEE;
    }
  }

  &:last-child a {
    border-bottom: none;
  }
}

.project-box-settings-button:hover {
  z-index: 2;
  border-bottom: 1px solid #FFF;
}

.project-box-settings-button:hover + .project-box-settings-menu,
.project-box-settings-menu:hover {
  display: block;
}

.project-box-settings-menu-delete {
  background: image-url('trash.png') no-repeat 6px center;
}

.project-box-settings-menu-edit {
  background: image-url('pencil.png') no-repeat 6px center;
}


.project-box-settings-menu-new-repository {
  background: image-url('new-repository.png') no-repeat 6px center;
}
