$item-list-box-padding: 20px;

.project-repositories {
  @extend %reset-space;
}

.project-repositories-item {
  list-style: none;
  padding: $item-list-box-padding;
  position: relative;
}

.project-repositories-item.odd {
  background-color: #F9F9F8;
}

.project-repositories-item-title {
  @extend %reset-space;
  font-weight: 300;
  font-size: em(30);

  a {
    color: #333;
  }
}

.project-repositories-item-description {
  color: #95917E;
  font-size: em(14);
}

.pull-requests {
  @extend %reset-space;
}

.pull-requests-count {
  font-size: em(14);
  margin-bottom: 5px;
}

.pull-request-item-title {
  list-style-position: inside;
}

.pull-requests-box-count {
  @extend %reset-space;
  position: absolute;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: em(48);
  color: #FFF;

  span {
    display: block;
    font-size: em(12, 48);
    margin-top: -6px;
  }
}

.approved-pull-requests {
  top: 0;
  right: 0;
  background-color: #9DCD80;
}

.pending-pull-requests {
  top: 0;
  right: 80px;
  background-color: #D6D488;
}
