.project-box {
  list-style: none;
  width: 174px;
  height: 174px;
  float: left;
  outline: 1px solid red;
  margin-right: 30px;
}


.project-box-title {
  margin: 0;
  padding: 10px 0;
  background-color: red;
}
