.project-box {
  list-style: none;
  width: 174px;
  height: 174px;
  float: left;
  margin-right: 30px;
  background-color: #3299BB;
}

.project-box-title {
  @extend %reset-space;
  background-color: #2C88A7;
}

.project-box-title-link {
  font-size: 16px;
  font-family: $open-sans;
  display: block;
  padding: 10px;
  color: #FFF;
  text-decoration: none;
}
