<% content_for :body_class, 'home' %>

<div id="content-wrapper">
  <div id="content" class="call-to-action">
    <h1>Dashub a better way to manage your projects pull requests review</h1>

    <button class="start-using-btn">Start using Dashub</button>
  </div>

  <div class="features no-margin section">
    <h2>Don't miss a code review</h2>
    <div class="feature">
      <%= image_tag 'dashub-repositories.png', size: '221x177', alt: 'Repositories', title: 'Projects with multiples repositories' %>
      <p>Manage multiples repositories into a single project.</p>
    </div>
    <div class="feature">
      <%= image_tag 'dashub-shipit.png', size: '221x177', alt: 'Shipit', title: '' %>
      <p>Define your project approval criteria in order to indentify Pull Requests that are blocked.</p>
    </div>
    <div class="feature">
      <%= image_tag 'dashub-pull-requests.png', size: '221x177', alt: 'Pull Requests', title: 'Pull Requests and Code Review' %>
      <p>Track pull requests and see what needs your code review.</p>
    </div>
  </div>

  <div class="features section">
    <h2>Why use Dashub?</h2>

    <p>Code Review is an excelent why to share code, comunicate, learn and keep the quality of your code.</p>

    <h3>Your time is important</h3>
    <p>Checking constantly if a Pull Request needs your review takes time, and it is worse when you don't remember you
      already review it.</p>

    <h3>Be aware of changes in project</h3>
    <p>Every project has constantly code to be shipped, and it is not desired that this code gets lost.</p>

    <h3>Help your team mates</h3>
    <p>Hum, just help them.</p>
  </div>

  <div class="features section">
    <h2>How to use it?</h2>

    <p>It is pretty simple to use Dashub in your projects.</p>

    <div class="getting-started-step">
      <h3><span class="step-number">1</span> Access with your Github account</h3>
      <p>We will not store any of your data, we just need read access to your Github account in order
      to start the Pull Request tracking.</p>
      <%= image_tag 'dashub-step-1.png' %>
    </div>

    <div class="getting-started-step">
      <h3><span class="step-number">2</span> Create a project</h3>
      <p>Give a name to your project, and decide what your team uses to approve a pull request and allow merging it.</p>
    </div>

    <div class="getting-started-step">
      <h3><span class="step-number">3</span> Add repositories</h3>
      <p>Add the repositories that are part of your project, or use the suggestion repositories that
      you have access to.</p>
    </div>

    <h3 class="completed-step">Done!</h3>
  </div>

  <div class="section call-to-action">
    <button class="start-using-btn">Create your project now!</button>
  </div>
</div>
