<h1>Dashub Team</h1>

<div class='team-members container'>
  <div class='team-member'>
    <%= image_tag gravatar_url('andrielfn@gmail.com', 80), class: 'gravatar' %>
    <h2 class='member-name'>Andriel Nuernberg</h2>
    <h3 class='member-description'>front-end</h3>
    <p>Twitter: <a href="https://twitter.com/andrielfn" target="_blank">@andrielfn</a></p>
    <p>Github: <a href="https://github.com/andrielfn" target="_blank">andrielfn</a></p>

    <div class='railsrumble-story'>
      <img src="andrielfn.gif" width="300" height="225">
      RailsRumble 2013 Retrospective
    </div>
  </div>

  <div class='team-member'>
    <%= image_tag gravatar_url('fabioyamate@gmail.com', 80), class: 'gravatar' %>
    <h2 class='member-name'>Fabio Yamate</h2>
    <h3 class='member-description'>developer</h3>
    <p>Twitter: <a href="https://twitter.com/fabioyamate" target="_blank">@fabioyamate</a></p>
    <p>Github: <a href="https://github.com/fabioyamate" target="_blank">fabioyamate</a></p>

    <div class='railsrumble-story'>
      <img src="fabioyamate.gif" width="300" height="169">
      RailsRumble 2013 Retrospective
    </div>
  </div>

  <div class='team-member'>
    <%= image_tag gravatar_url('kassioborgesm@gmail.com', 80), class: 'gravatar' %>
    <h2 class='member-name'>Kássio Borges</h2>
    <h3 class='member-description'>developer</h3>
    <p>Twitter: <a href="https://twitter.com/kassioborgesm" target="_blank">@kassioborgesm</a></p>
    <p>Github: <a href="https://github.com/kassio" target="_blank">kassio</a></p>

    <div class='railsrumble-story'>
      <img src="kassio.gif" width="300" height="169">
      RailsRumble 2013 Retrospective
    </div>
  </div>

  <div class='team-member'>
    <%= image_tag gravatar_url('mascarenhas.renato@gmail.com', 80), class: 'gravatar' %>
    <h2 class='member-name'>Renato Mascarenhas</h2>
    <h3 class='member-description'>developer</h3>
    <p>Twitter: <a href="https://twitter.com/rmascarenhasc" target="_blank">@rmascarenhasc</a></p>
    <p>Github: <a href="https://github.com/rmascarenhas" target="_blank">rmascarenhas</a></p>

    <div class='railsrumble-story'>
      <img src="renato.gif" width="300" height="169">
      RailsRumble 2013 Retrospective
    </div>
  </div>
</div>
