<% content_for(:page_title) { 'My projects' } %>

<ul class="projects-list">
  <% @projects.each do |project| %>
    <li class="project-box">
      <%= link_to 'Settings', edit_project_path(project), class: 'project-box-settings-button' %>

      <h2 class="project-box-title">
        <%= link_to truncate(project.name, length: 50), project_path(project) %>
      </h2>
    </li>
  <% end %>
</ul>
