<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li><%= project.name %>
    (<%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Delete', project, method: :delete, confirm: 'Are you sure?' %>)</li>
  <% end %>
</ul>

<%= link_to 'Create new project', new_project_path %>
