@import "normalize";
@import "bourbon";

@import "core/settings";
@import "core/layout";
@import "core/base";

@import "helpers/**/*";
@import "modules/**/*";

@import "pages/projects";
@import "pages/new-repository";
@import "pages/team";
@import "pages/home";

.loader {
  text-align: center;
  padding: 10px 0;

  p {
    @extend %reset-space;
    display: block;
    font-style: italic;
    text-align: center;
    font-size: em(12);
    color: #ccc;
  }
}
