<% if !user_signed_in? %>
  <div id="disclaimer">
    <div id="disclaimer-wrapper">
      <strong>Disclaimer:</strong> you are not signed in, you are currently using <u>Guest</u> account.
      You can sign up your own account.
    </div>
  </div>
<% end %>
